<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/options.js"></script>
<h1>option</h1>
atlassian domain: <input id="domain" type="text" /><br />
<input id="opentype" type="checkbox">open JIRA issue with new window<br />
<input id="put" type="submit" value="Save" />